#navbarNav span {
  color: #888888;
}

#navbarNav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

#navbarNav li,
#navbarNav li:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

#navbarNav :before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0px;
  left: 5px;
  background-color: #34b7a7;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

#navbarNav li:hover:before,
#navbarNav .navActive:before {
  visibility: visible;
  width: 85%;
}

#navbarNav .navActive > span,
#navbarNav li:hover > span {
  color: #111111;
}

.navbar-toggler {
  border: 0;
}
